body {
    background-color: bisque;
    font-family: 'Nunito Sans', sans-serif;
}

#content {
    display: flex;
    flex-flow: column;
    align-items: center;

}

h1 {
    padding-top: .5%;
}

nav {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

h2 {
    margin: auto;
}

.landing-page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page-head {
    font-size: 2em;
}

.landing-image {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 33%;
}

section {
    padding: 1%;
    border-radius: 10px;
}

.description-section {
    width: 33%;
}

.hours {
    display: flex;
    flex-flow: column;
}

.hours-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.location-section {
    display: flex;
    flex-flow: column;
}

.location-head {
    padding-bottom: .5em;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}