body {
    background-color: bisque;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    margin: auto;
}

.landing-page {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page-head {
    font-size: 2em;
}

.landing-image {
    padding-top: 2%;
    padding-bottom: 2%;
}

section {
    padding: 1%;
    background-color: #ee9876;
    border-radius: 10px;
}

.description-section {
    width: 50%;
}

.hours {
    display: flex;
    flex-flow: column;
}

.hours-list {
    list-style-type: none;
    padding-inline-start: 0px;
}

.location-section {
    display: flex;
    flex-flow: column;
}